/* SETEO DE FUENTES */ 
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
body {
    font-family: 'Fjalla One', sans-serif;
    background-image: url(multimedia/Wave\ Line.svg);
    background-size: 100%;
}

/* PSEUDOCLASE :root - VARIABLES */
:root {
    --colorHeaderFooter: rgba(208, 162, 226, 0.911);
}

/* RESETEO POR DEFAULT */
* {
    margin: 0;
    padding: 0;
}

/* PAGINA INDEX */
/* ZONA HEADER */
/* INICIO BOOTSTRAP */
.bg-esTattoo {
    background-color: var(--colorHeaderFooter);
}

.navbarES {
    justify-content: center;
}

.ulES {
   margin-top: -10px;
   margin-bottom: -10px;
}

.nav-item {
    font-family: 'Source Sans Pro', sans-serif;
}

.nav-item:hover {
    transition: all 0.5s;
      transform: scale(1.1);
}

a {
    color: #fff9f9f3 !important;
    font-weight: bolder;
}
a:hover {color:#3e0263 !important}

/* FIN BOOTSTRAP */

header {
    background-color: var(--colorHeaderFooter);
    position: fixed;
    top: 0;
    }

.bannerHeader {
    width: 100%; 

}

.navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menuContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .linkMenuFooter {
    text-decoration: none;
    padding: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    color: #f8f4f4f3;
  }

  header nav ul .linkMenuFooter:hover  {color:#3e0263}

  header {
      z-index: 99;
  }

  /* TRANSFORMACIÓN Y TRANSICIÓN */
  .menuContainer li:hover {
      transition: all 0.5s;
      transform: scale(1.2);
  }

/*MEDIA QUERY IPAD*/
@media only screen and (max-width: 768px) {
    .linkMenuFooter {
        text-decoration: none;
        padding: 20px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.3em;
        color: #f8f4f4f3;
      }
      /* CLASES BOOTSTRAP */
      .navNecke {
        position: fixed;
        top: 0;
        left: 0;
        background-color: unset;
        padding-top: 15px;
      }
      .navNos {
          margin-top: 25px;
      }
      .nav-item {
          background-color:var(--colorHeaderFooter);
          padding-left: 10px;
      }
}

/*MEDIA QUERY IPHONE 6/7/8 PLUS */
@media only screen and (max-width: 414px) {
    .linkMenuFooter {
        text-decoration: none;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 0.6em;
        color: #f8f4f4f3;
      } 
      /* CLASES BOOTSTRAP */
      .navNecke {
        position: fixed;
        top: 0;
        left: 0;
        background-color: unset;
        padding-top: 7px;
      }
      .fontNav {
          font-size: 10px;
      }
      .navNos {
          margin-top: 16px;
      }
      .nav-item {
          background-color:var(--colorHeaderFooter);
          padding-left: 10px;
      }
}

/* FIN ZONA HEADER */

/* TITULOS VARIOS*/
.tituloTrabajo,
.tituloHistoria,
.tituloFAQ,
.tituloContacto,
.tituloTurnos,
.tituloContacto1 {
    color: #3e0263;
    font-size: 405%;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-style: italic;
    line-height: 2;
    font-weight: bolder;
}

.tituloHistoria {
    text-align: center;
    margin-top: 170px;
}

.tituloTrabajo {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 170px;
}

.tituloFAQ {
    text-align: center;
    margin-left: 17px;
    margin-top: 170px;
}

.tituloContacto1,
.tituloTurnos {
    margin-top: 170px;

}

/* PARRAFOS VARIOS */
.parrafoHistoria,
.parrafoTrabajo,
.parrafoContacto {
    color: #925faf;
    font-size: 1.3em;
    line-height: 1.6;
    margin-bottom: 20px;
    margin-right: 40px;
    margin-left: 40px;
}

.parrafoTrabajo {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

.parrafoHistoria {
    text-align: center;
}


/* ZONA HISTORIA */
/* INICIO BOOTSTRAP */
.carouselES {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
}

/*
.imageContainer {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    grid-template-areas: "imgHistoria";
}

.imgHistoria {
    grid-area: imgHistoria;
    width: 100%;
}
*/
/*MEDIA QUERY IPAD*/
@media only screen and (max-width: 768px) {
    .tituloHistoria {
       margin-top: 100px; 
       padding-bottom: 8px;
    }
    /* CLASES BOOTSTRAP */
    .carouselES {
        margin-top: 40px;
        margin-bottom: 50px;
        padding-bottom: 50px;
        width: 100%;
    }

    .imgHistoria {
        margin-bottom: 30px;
        padding-bottom: 40px;
    }

    .parrafoHistoria {
        margin-bottom: 70px;
    } 
}

/*MEDIA QUERY IPHONE 6/7/8 PLUS */
@media only screen and (max-width: 414px) {
    .tituloHistoria {
        margin-top: 50px;
        font-size: 305%;
    }
    /* CLASES BOOTSTRAP */
    .carouselES {
        margin-top: 40px;
        margin-bottom: 40px;
        width: 100%;
    }

    .parrafoHistoria {
        font-size: 1em;
        margin-bottom: 20px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .nav-item {
        background-color:var(--colorHeaderFooter);
        padding-left: 10px;
    }
}
/* FIN ZONA HISTORIA */
/* FIN ZONA MAIN INDEX */

/* SECCION FAQ */
/* GRID */
.faqContainer {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-areas: 
    "parrafo1 parrafo1"
    "parrafo2 imageFAQ"
    "parrafo3 imageFAQ";
}

.parrafo1 {
    grid-area: parrafo1;
    margin-top: 15px;
    margin-bottom: 10px;
}

.parrafo2 {
    grid-area: parrafo2;
    margin-top: 15px;
    margin-right: 10px;
}

.parrafo3 {
    grid-area: parrafo3;
    margin-top: 15px;
    margin-right: 10px;
}

.imageFAQ {
    grid-area: imageFAQ;
}

.imgFAQ {
    width: 100%;
}

.parrafoFAQ {
    color: #925faf;
    font-size: 1.3em;
    line-height: 1.6;
}

.subtituloFAQ {
    color: #3e0263;
    margin-bottom: 3px;

}

/*MEDIA QUERY IPAD*/
@media only screen and (max-width: 768px) {
    .faqContainer {
        display: grid;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 15px;
        margin-left: 20px;
        margin-right: 20px;
        grid-template-areas: 
        "imageFAQ imageFAQ"
        "parrafo1 parrafo1"
        "parrafo2 parrafo2"
        "parrafo3 parrafo3";
    }

    .parrafo1 {
        grid-area: parrafo1;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    
    .parrafo2 {
        grid-area: parrafo2;
        margin-top: 15px;
        margin-right: 10px;
    }
    
    .parrafo3 {
        grid-area: parrafo3;
        margin-top: 15px;
        margin-right: 10px;
    }
    
    .imageFAQ {
        grid-area: imageFAQ;
    }
    
    .imgFAQ {
        width: 100%;
    }
    
    .parrafoFAQ {
        color: #925faf;
        font-size: 1.3em;
        line-height: 1.6;
    }
    
    .subtituloFAQ {
        color: #3e0263;
        margin-bottom: 3px;
    }
}

.tituloFAQ {
    margin-top: 170px;
}

/*MEDIA QUERY IPHONE 6/7/8 PLUS*/
@media only screen and (max-width: 414px) {
    .tituloFAQ {
        margin-top: 70px;
        font-size: 300%;
    }

    .parrafoFAQ {
        font-size: 1em;
    }
}
/* FIN SECCION FAQ */
/* FIN ZONA MAIN INDEX */

/* FIN PAGINA INDEX*/

/* PAGINA TURNOS */

.parrafoFormulario {
    color: #000000;
    line-height: 2;
}

.botonesForm {
    margin-top: 15px;
}
.formulario {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.tituloTurnos {
    text-align: center;
}

/* ANIMACIÓN */
.tituloTurnos {
    animation: titilar 3s;
}

@keyframes titilar {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*MEDIA QUERY IPAD*/
@media only screen and (max-width: 768px) {
    .tituloTurnos {
        margin-top: 150px;
    }

    .formulario {
        padding-top: 70px;
        padding-bottom: 118px;
    }
}

/*MEDIA QUERY IPHONE 6/7/8 PLUS */
@media only screen and (max-width: 414px) {
    .tituloTurnos {
        margin-top: 70px;
        font-size: 250%;
    }
    .parrafoFormulario {
        color: #000000;
}
    .formulario {
        padding-top: 40px;
        padding-bottom: 30px;
    }
}
/* FIN ZONA FORMULARIO */

/* PAGINA CONTACTO */
.alignContacto {
    text-align: center;
}

.parrafoContacto, .tituloContacto, .tituloContacto1 {
    text-align: center;
}
/*MEDIA QUERY IPAD*/
@media only screen and (max-width: 768px) {
    .tituloContacto1 {
        margin-top: 120px;
    }

    .tituloContacto {
        margin-top: 30px;
    }
}

/*MEDIA QUERY IPHONE 6/7/8 PLUS */
@media only screen and (max-width: 414px) {
    .tituloContacto {
        font-size: 305%;
    }
    .tituloContacto1 {
        margin-top: 70px;
        font-size: 305%;
    }
    .mapa {
        width: 80%;
    }

    .parrafoContacto {
        font-size: 1em;
    }
}
/* FIN ZONA CONTACTO */ 

/* ZONA TRABAJOS */

/* GRID */

.gridContainer {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 30px;
    grid-template-areas: 
    "image1 image2 image3"
    "image4 image5 image6";
}

.image1 {
    grid-area: image1;
    margin-left: 30px;
}

.image2 {
    grid-area: image2;
}

.image3 {
    grid-area: image3;
    margin-right: 30px;
}

.image4 {
    grid-area: image4;
    margin-left: 30px;
}

.image5 {
    grid-area: image5;
}

.image6 {
    grid-area: image6;
    margin-right: 30px;
}

.imgTrabajos {
    width: 100%;
}

/* TRANSFORMACIÓN Y TRANSICIÓN */
.imgTrabajos:hover {
    transition: all 0.8s ;
    transform: scale(1.1) ;
}

/*MEDIA QUERY IPAD*/
@media only screen and (max-width: 768px) {
    .tituloTrabajo {
        margin-top: 100px
    }

    .parrafoTrabajo {
        padding-bottom: 10px;
        font-size: 1.6em;
    }
}
/*MEDIA QUERY IPHONE 6/7/8 PLUS */
@media only screen and (max-width: 414px) {
    .tituloTrabajo {
        margin-top: 70px;
        font-size: 305%;
    }

    .parrafoTrabajo {
        font-size: 0.9em;
    }

    .gridContainer {
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 0px;
        grid-template-areas: 
        "image1"
        "image2" 
        "image3" 
        "image4"
        "image5"
        "image6";
    }

    .image1 {
        grid-area: image1;
        margin-left: 0px;
    }
    
    .image2 {
        grid-area: image2;
    }
    
    .image3 {
        grid-area: image3;
        margin-right: 0px;
    }
    
    .image4 {
        grid-area: image4;
        margin-left: 0px;
    }
    
    .image5 {
        grid-area: image5;
    }
    
    .image6 {
        grid-area: image6;
        margin-right: 0px;
    }
}
/* FIN ZONA TRABAJOS */

/* ZONA FOOTER */
footer {
    /*background-color: var(--colorHeaderFooter);*/
    /* GRADIENTE */
    background-image: linear-gradient(#ddcfe6, var(--colorHeaderFooter));
}
/* FLEXBOX */
.redesContainer {
    color: #f8f4f4f3;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.redes {
    width: 100px;
    display: flex;
    justify-content: space-around;
}

.imgRedes {
    width: 17px;
}

.imgLogo {
    width: 3.5%;
    margin-top: 8px;
}

.ESLogo {
    text-align: center;
}

/* TRANSFORMACIÓN Y TRANSICIÓN */
.imgRedes:hover {
    transform: scale(1.5);
    transition: all 0.1s;
}

.imgLogo:hover {
    transition: all 0.1s;
    transform: scale(1.1);
}

/*MEDIA QUERY IPHONE 6/7/8 PLUS */
@media only screen and (max-width: 414px) {
    .imgLogo {
        width: 8.5%;
    }
}
/* FIN ZONA FOOTER */